global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  {{haproxylogoptions}}
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend tcp_front
    mode tcp
    bind *:{{rsyslog_port}}
    default_backend tcp_back

backend tcp_back
    mode tcp
    option log-health-checks
    option redispatch
    log global

balance roundrobin
    server {{roundrobin_lb_host1}} {{roundrobin_lb_ip1}}:{{rsyslog_port}} check
    server {{roundrobin_lb_host2}} {{roundrobin_lb_ip2}}:{{rsyslog_port}} check

listen stats # Define a listen section called "stats"
    bind :{{haproxy_bind_port}} # Listen on localhost:9000
    mode http
    stats enable  # Enable stats page
    stats hide-version  # Hide HAProxy version
    stats realm Haproxy\ Statistics  # Title text for popup window
    stats uri /haproxy_stats   # Stats URI
